/* general settings */
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url();
}

/* CSS general elements */
body {
  background-color: #222;
  color: white;
  font: 200 14px 'Poppins', sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  color: #999;
  font-size: 18px;
  font-weight: 700;
}

nav {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #222;
  border-bottom: 1px solid white;
  padding-top: 10px;
  text-align: center;
}
nav ul {
  display: inline-block;
}

nav ul li {
  padding-top: 12px;
}

section {
  padding: 10px 100px 10px 100px;
}

p {
  text-align: justify;
}

i {
  font-size: 25px;
}

i:hover {
  color: #ffc900;
}

a {
  text-decoration: none;
}

a:any-link {
  color: white
}

a:-webKit-any-link {
  color: white;
}

a:-moz-amy-link {
  color: white;
}

a:hover {
  color: #ffc900;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin: 5px;
}

button {
  border-radius: 10px;
}

footer {
  height: 55px;
  padding-top: 10px;
  text-align: center;
}

footer ul {
  display: inline-block;
}

footer ul li {
  float: left;
}

/* CSS ids and classes */
.hashtag {
  color: #ffc900;
}

.section {
  padding: 10px 100px 10px 100px;
}

.masinfo button {
  background-color: #ffc900;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  padding: 5px;
}

#logo {
  padding-top: 0px;
}

#start {
  background-image: url(../imagenes/Sin\ nombre.png);
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
}

#experience {
  background-color: white;
  color: #222;
}

#portfolio {
  border-top: 1px solid #ffc900;
}

#sm {
  margin-top: 20px;
}

/* Grid about me */
#aboutme {
  display: grid;
  grid-template-columns: 300px 1fr;
}

#aboutme h2 {
  margin-bottom: 15px;
}

#aboutme .masinfo {
  margin-top: 15px;
}

#aboutme .masinfo button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#contact {
  background-color: #ffc900;
  color: #222;
}

/* Card portfolio */
.filaportfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card {
  width: 250px;
  background-color: #191919;
  border-radius: 15px;
}

.card img, .card video {
  border-radius: 15px 15px 0 0;
}

.card h3 {
  color: #ffc900;
}

.card h4 {
  margin: 0 5px 5px 0;
}

.card h3, .card h4, .card p, .card .masinfo{
  padding: 0 15px;
}

.card .masinfo {
  margin: 15px 0px 15px 0px;
  height: 26px;
}

.card .sep {
  margin: 0 5px 5px 0;
  border: 1px solid #ffc900;
}

.card .masinfo button {
  float: right;
}

/* Card experience */
.gridexp {
  display: grid;
  grid-template-columns: repeat(4,350px);
  grid-gap: 10px;
  justify-content: space-between;
  align-content: space-around;
}

.cardexp {
  background-color: #222;
  border-radius: 15px;
  color: white;
  padding: 10px 15px;
}

.cardexp h2 {
  margin-bottom: 5px;
}

.cardexp h3 {
  margin-bottom: 20px;
}

.cardexp p {
  margin-bottom: 20px;
}

.cardexp ul {
  display: flex;
  justify-content: flex-end;
}

.cardexp li {
  height: 30px;
}

/* Form */
.itemform {
  display: grid;
  grid-template-columns: 150px 350px;
  justify-content: center;
  margin-bottom: 10px;
}

.itemform label {
  font-weight: 700;
}

.itemform input, .itemform textarea {
  border-radius: 5px;
  border: 1px solid white;
}

input[type="submit"] {
  background-color: #222;
  border: 1px solid #222;
  color: white;
  padding: 10px;
  grid-column: 2/3;
  justify-self: end;
}