/* general settings */
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url();
}

/* CSS general elements */
body {
  background-color: #222;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  color: #999;
  font-size: 18px;
  font-weight: 700;
}

nav {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #222;
  border-bottom: 1px solid white;
  padding-top: 10px;
  text-align: center;
}
nav ul {
  display: inline-block;
}

nav ul li {
  padding-top: 12px;
}

section {
  padding: 10px 100px 10px 100px;
}

p {
  text-align: justify;
}

i {
  font-size: 25px;
}

i:hover {
  color: #ffc900;
}

a {
  text-decoration: none;
}

a:any-link {
  color: white
}

a:-webKit-any-link {
  color: white;
}

a:-moz-amy-link {
  color: white;
}

a:hover {
  color: #ffc900;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin: 5px;
}

/* CSS ids and classes */
.hashtag {
  color: #ffc900;
}

.section {
  padding: 10px 100px 10px 100px;
}

#logo {
  padding-top: 0px;
}

#start {
  background-image: url(../imagenes/Sin\ nombre.png);
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
}

#experience {
  background-color: white;
  color: #222;
}

#portfolio {
  border-top: 1px solid #ffc900;
}

#sm {
  margin-top: 20px;
}

/* Card portfolio */

.filaportfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card {
  width: 250px;
  background-color: #191919;
}

.card h3 {
  color: #ffc900;
}

.card h4 {
  margin: 0 5px 5px 0;
}

.card h3, .card h4, .card p, .card .masinfo{
  padding: 0 15px;
}

.card .masinfo {
  margin: 15px 0px 15px 0px;
  height: 26px;
}

.card .masifo button {
  background-color: #ffc900;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}

.card .sep {
  margin: 0 5px 5px 0;
  border: 1px solid #ffc900;
}
